{% extends 'base.html' %}

{% block title %}
  투표 결과 차트
{% endblock %}

{% block content %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'polls/styles/chart.css' %}">
  <div id="container" style="margin-top: 20px;"></div>
  <a href="{% url 'polls:index' %}" class="go-to-a">
    <span class="go-to-button to-list">목록으로</span>
  </a>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  {% load static %}
  <script type="text/javascript"> var chart_data = {{chart_data|safe}} </script>
  <script type="text/javascript"> var chart_title = {{chart_title|safe}} </script>
  <script defer src ="{% static 'polls/javascript.js' %}"></script>
{% endblock %}