{% extends 'blog/base.html' %}

{% block title %}블로그 | 상세{% endblock %}

{% block contents %}
<div class="post">
  {% if user.is_authenticated %}
    <a href="{% url 'blog:post_edit' pk=post.pk %}">
      <span class="button edit">수정</span>
    </a>
  {% endif %}
  <h1 class="post-title">{{ post.title }}</h1>
  <p>{{ post.text|linebreaksbr }}</p>
  {% if post.published_date %}
    <div class="date">
      {{ post.published_date }}
    </div>
    {% if post.is_updated %}
      <p class="updated">(수정됨)</p>
    {% endif %}
  {% endif %}
</div>
{% endblock %}